@model LoginViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form asp-action="Register" asp-controller="Account" method="post" class="form-horizontal" role="form">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1 class="cover-heading">Please @Model.Title</h1>
                <p>We are here to support you, and happy to help and solve your health issues.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="form-group">
                    <label asp-for="UserName" class="sr-only"></label>
                    <input asp-for="UserName" id="inputUserName" class="form-control" placeholder="name@example.com" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-9">
                <div class="form-group">
                    <label asp-for="Password" class="sr-only"></label>
                    <input asp-for="Password" id="inputPassword" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-9">
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                </div>
            </div>
        </div>
    </div>

</form>


